<%= turbo_frame_tag dom_id(room) do %>
  <%= link_to root_path(room_id: room.id),
            class: "room-item",
            data: { turbo_frame: "_top" } do %>
    <div class="room-title"><%= room.name %></div>
    <div class="room-meta">
      <span class="message-count"><%= room.messages.count %></span>
    </div>
  <% end %>
<% end %>
